

<div>
    <h1 class="display-4">@ViewData["WelcomeTitle"]</h1>
    <hr>
    <div style="font-size:18px">@ViewData["Welcome1"]</div>
    <br>
    <div style="font-size:14px">
        @ViewData["WelcomeTech"]
        <ul>
            <li>ASP.NET Core</li>
            <li>Microsoft SQL Server</li>
            <li>Font Awesome</li>
            <li>Bootstrap</li>
        </ul>

    </div>
</div>
