@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome to my transaction tracking application</h1>
    <hr>
    <div style="font-size:16px">This is an assignment project. To go to Transactions  <a asp-controller="transactions">click here</a>  or click Transactions button on the top of the page</div>
    <br>
    <div style="font-size:12px">Technologies Used:
    <ul>
        <li>ASP.NET Core</li>
        <li>Microsoft SQL Server</li>
        <li>Font Awesome</li>
        <li>Bootstrap</li>
    </ul>
    
    </div>
</div>
